  <div class="jumbotron">
    <h1 class="title">招聘贤才</h1>
    <p class="slogan">一起探索,
      <br>
      一起做出激动人心的产品。
      </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">加入未来</a></p>
  </div>

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-3 ">
          <div class="thumbnail">
            <a href="/jobs">
              <img src="http://c1.mifile.cn/f/i/2013/hr/photo/enginer.jpg?20130107" alt="search" class = "img-thhumbnail">
            </a>
            <div class="caption">
              <a href="/jobs"><h3>研发工程师</h3></a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 ">
          <div class="thumbnail">
            <a href="/jobs">
              <img src="http://c1.mifile.cn/f/i/2013/hr/photo/business.jpg?20130107" alt="bid" class = "img-thhumbnail">
            </a>
            <div class="caption">
              <a href="/jobs"><h3>产品运营</h3></a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 ">
          <div class="thumbnail">
            <a href="/jobs">
              <img src="http://c1.mifile.cn/f/i/2013/hr/photo/designer.jpg?20130107" alt="bid" class = "img-thhumbnail">
            </a>
            <div class="caption">
              <a href="/jobs"><h3>设计师</h3></a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 ">
          <div class="thumbnail">
            <a href="/jobs">
              <img src="http://c1.mifile.cn/f/i/2013/hr/photo/pm.jpg?20130107" alt="heart" class = "img-thhumbnail">
            </a>
            <div class="caption">
              <a href="/jobs"><h3>产品经理</h3></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
